/* Nav Slider */

.header-group {
  margin: 0 auto;
  max-width: 40em;
  width: 100%;
}

nav {
  position: relative;
  width: 20%;
}

nav input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}

nav label {
  display: block;
  margin-top: 10%;
  padding: 0.5em;
  transition: 0.5s;
  background-color: #fff;
}

.nav-button {
  position: absolute;
  display: inline-block;
  top: 25%;
  left: 0;
  height: 4px;
  margin: 1px;
  background-color: grey;
  width: 33%;
  transition: 0.35s;
}

.nav-button:before,
.nav-button:after {
  content: "";
  position: absolute;
  left: -1px;
  height: 4px;
  margin: 1px;
  background-color: grey;
  width: 100%;
  transition: 0.35s;
}

.nav-button:before {
  top: -12px;
}

.nav-button:after {
  top: 10px;
}

.nav-content {
  position: absolute;
  top: 72%;
  left: -60%;
  list-style: none;
  max-height: 0;
  padding: 0 5px;
  overflow: hidden;
  transition: all 0.35s;
}

.nav-content li {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: 8px;
}

.nav-content a {
  text-decoration: none;
}

.nav-content a:visited {
  color: #fff;
}

.nav-content a:focus {
  color: firebrick;
}

.nav-content a:hover {
  color: royalblue;
}

nav input:checked ~ .nav-content {
  max-height: 15em;
  border: 1px solid grey;
  border-radius: 7px;
  background-color: lightgrey;
}

nav input:checked ~ label .nav-button {
  background-color: #fff;
  transform: translateX(50%);
}

nav input:checked ~ label .nav-button:before,
nav input:checked ~ label .nav-button:after {
  width: 50%;
  background-color: firebrick;
}

nav input:checked ~ label .nav-button:before {
  transform: translateY(12px) rotate(45deg);
}

nav input:checked ~ label .nav-button:after {
  transform: translateY(-10px) rotate(-45deg);
}
